
.footer {
  width: 98%;
  text-align: center;
  padding: 20px;
  background-color: rgba(155, 23, 23, 0.9); 
  color: white;
  position: relative;
  bottom: 0;
}


@media (max-width: 768px) {
  .footer {
 display: none;
  }
}