/* src/Components/Layout.css */

.layout {
  width: 100%; 
  /* max-width: 1200px;  */
  /* min-height: 100vh; */
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}

.layout-content {
  flex: 1;
  min-height: 100%;
  padding: 20px; 
  box-sizing: border-box; 
}

  
@media (max-width: 768px) {
  .layout {
    width: 100%; 
    /* max-width: 1200px;  */
    /* min-height: 100vh; */
    margin: 0 auto; 
    padding: 0px; 
    box-sizing: border-box; 
  }
  .layout-content {
    flex: 1;
    min-height: 100%;
    padding: 0px; 
    box-sizing: border-box; 
  }
}
@media (max-width: 480px) {
  .layout {
    width: 100%; 
    /* max-width: 1200px;  */
    /* min-height: 100vh; */
    margin: 0 auto; 
    padding: 0px; 
    box-sizing: border-box; 
  }
  .layout-content {
    flex: 1;
    min-height: 100%;
    padding: 0px; 
    box-sizing: border-box; 
  }
}

