 .movie-card {
    background-color: #1a1a1a;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    /* width: 280px; */
    max-width: 400px;
    margin: 10px;
    cursor: pointer;
  }
  

  
  .icons-container {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .icon {
    cursor: pointer;
    font-size: 24px;
    color: white;
    opacity: 0.7;
  }
  
  .icon.active {
    color: red; 
  }
  
  .watchlist-icon.active {
    color: yellow; 
  }
  
  .poster-container {
    position: relative;
  }
  
  .play-button {
    position: absolute;
    bottom: 10px;
    left: 90%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  

  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .poster-container {
    position: relative;
  }
  
  .movie-poster {
    width: 100%;
    border-bottom: 1px solid #333;
  }
  
  .play-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(229, 9, 20, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .play-button:hover {
    background-color: rgba(229, 9, 20, 1);
  }
  
  .movie-info {
    padding: 15px;
    position: relative;
    text-align: center;
  }
  
  .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .release-date,
  .genre,
  .rating {
    font-size: 14px;
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .movie-card {
      width: 100%;
      max-width: 100%;
    }
  }
