.movies-container {
    padding: 20px;
    color: white;
    width: 100%;
    background-color: #141414;
  }
  
  .search-bar input {
    padding: 8px;
    width: 80%;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
  }
  
  .search-bar button {
    padding: 8px 15px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filters {
    display: flex;
    gap: 15px;
  }
  
  .filter {
    display: flex;
    flex-direction: column;
  }
  
  .filter label {
    margin-bottom: 5px;
  }
  
  .filter select,
  .filter input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: white;
  }
  
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 8px 15px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .pagination span {
    color: white;
  }

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  
  @media (max-width: 768px) {
    .movies-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  
    .filters-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .filters {
      flex-direction: column;
    }
  
    .pagination {
      flex-direction: column;
    }
  
    .pagination button {
      margin: 5px 0;
    }
  }
  
  @media (max-width: 480px) {
    .movies-grid {
      grid-template-columns: 1fr; 
    }
  
    .search-bar input {
      width: 100%; 
    }
  }
  



.mobile-filters {
  display: flex;
  align-items: center;
  background-color: #141414;
  margin-bottom: 20px;
}

.mobile-filters .search-bar {
  flex: 1;
  display: flex;
  align-items: center;
}

.mobile-filters .search-bar button {
  background: transparent; 
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 10px; 
}

.dropdown-menu {
  position: absolute; 
  background: #141414;
  border: 1px solid #e50914; 
  border-radius: 4px;
  padding: 10px;
  top: 250px;
  z-index: 10; 
  width: 70%; 
}

.desktop-filters {
  display: flex;
  gap: 15px; 
}



.filters-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mobile-filters {
  display: flex;
  flex-direction: column;
}

.desktop-filters {
  display: none; 
}



@media (min-width: 768px) {
  .mobile-filters {
    display: none; 
  }

  .desktop-filters {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .filters {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
  }
}
